.add-group
  .back
    %a{href: "/rooms/discussion_group"}←讨论组列表
  .add-group
  .title
    %h1 
      %span 欢迎
      %span.current-user 
        =current_user.name
      %span 来到创建讨论组页面
  .all-user-list
    %input.group-name{placeholder: "请输入讨论组名称..."}
    .group-member
      -@all_user.each do |u|
        %input{type: "Checkbox", name: "checkbox", value: "#{u.name}"} 
          =u.name
  .submit-checked
    %button.create-group 创建讨论组