.discussion-room
  .back
    %a.back-group-list{href: "/rooms/discussion_group"}←讨论组列表
  .discussion-title
    %h1 
      %span 欢迎
      %span.current-user
        =current_user.name
      %span 来到讨论组
  .discussion-group-name
    .group-name-msg
      %label 
        讨论组名称：
        -@group.each do |g|
          %span.group-room-detail{data:{group_id: "#{g.id}"}}
            =g.name
          %span.group-id{style:"visibility:hidden"}
            =g.id
          %span.group-member{style:"visibility:hidden"}
            =g.member
    .out-group
      %button 退出房间
  .discussion-content
  .send-discussion-msg
    %label
      %span.group-name
        =current_user.name
      %span :
    %input.input-msg{placeholder:"说点儿什么..."}
    %button.send 发送