.group
  .back
    %a{href: "/rooms"}←首页
  .add-group
    %a.jump-to-add-group-page{href: "/rooms/add_group"}创建讨论组+
  .group-list
    %label 我加入的讨论组：
    .group-names
      %table
        -@group.each do |g|
          %tr
            %td
              %a.name{href: "javascript:;", data:{members: g.member,group_id: "#{g.id}", current_user: "#{current_user.name}"}}
                =g.name
            %td
              =g.member
            %td
              %span 创建者: 
              %a{href: "javascript:;"}  
                =g.creator
              