.discussion-room
  .back
    %a{href: "/rooms/discussion_group"}←讨论组列表
  .discussion-title
    %h1 欢迎来到讨论组
  .discussion-group-name
    .group-name-msg
      %label 
        讨论组名称：
        -@group.each do |g|
          %span
            =g.name
    .out-group
      %button 退出房间
  .discussion-content
  .send-discussion-msg
    %label
      %span.group-name
        =current_user.name
      %span :
    %input.input-msg
    %button.send 发送