.register
  .register-title
    %h1 用户注册
  .register-submit-part
    %input.nickname{placeholder: "请输入用户名..."}
    %input.user-eamil{placeholder: "请输入邮箱..."}
    %input.user-pwd{placeholder: "请输入密码..."}
    %input.confirm-pwd{placeholder: "请确认密码..."}
  .register-footer
    %button.submit-name 确认
