.home
  .register-page
    %a{href: "/rooms/register"} 我要注册
  .chat-room-page
    %a{href: "/rooms/chat_room"} 群聊室
  .private-room-page
    %a{href: "/rooms/private_room"} 私聊室
  .discussion-group-page
    %a{href: "/rooms/discussion_group"}讨论组
  .prompt
    %label 
      请先登录用户