.home
  .register-page
    %a{href: "auth/users/new", disabled: true} 我要注册
  / .chat-room-page
  /   %a{href: "/rooms/chat_room"} 群聊室
  .private-room-page
    %a{href: "/rooms/private_room"} 私聊室
  .discussion-group-page
    %a{href: "/rooms/discussion_group"}讨论组
  .prompt
    -if current_user == nil
      %a.prompt-login{href:"/auth/users/developers"} 请先登录
    -else
      %label.welcome
        %span 欢迎
        =current_user.name