.private-room
  .private-title
    %h1 
  .private-input
    %input.from-name{placeholder: "请输入您的姓名..."}
    %input.to-name{placeholder: "发送给谁..."}
    %input.message{placeholder: "请输入您想要发送的信息..."}
  .private-send
    %button.send-message 发送
  .private-content
