@mixin page_style(){
  width: 800px;
  height: 700px;
  margin-left: auto; 
  margin-right: auto;
  font-family:tahoma; 
  font-size:12px;
}
@mixin input_style(){
  width: 100%;
  height: 50px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid #000;
  outline: none;
  font-size: 30px;
  text-align: center;
}

@mixin display_msg(){
  padding:5px; 
  background:#ddd; 
  border-radius:5px;
  border:1px solid #CCC; 
  margin-top:10px; 
  resize:none;
  background-color: white;
  overflow: auto;
}

/* 首页 (index.html.haml) */
.home{
  @include page_style;
  font-family: Microsoft YaHei;
  font-size: 26px;
  text-align: center;
  .prompt{
    font-size: 18px;
    float: left;
    margin-top: 20px;
    .prompt-login{
      color: #FF110F;
      text-decoration: none;
    }
    .welcome{
      color: #55FF6D;
    }
    .login{
      .prompt-info{
        color: #43FF36;
      }
    }
  }
}

/* 讨论组列表 ( discussion_group.html.haml) */
.group{
  @include page_style;
  .add-group{
    margin-top: 20px;
  }
  .title{
    text-align: center;
    h1{
      span{
        color: #55FF6D;
      }
    }
  }
  .group-list{
    @include display_msg;
    width: 100%;
    height: 80%;
    .group-names{
      span{
        margin-left: 25px;
      }
      a{
        text-decoration: none;
      }
    }
  }
}

/* 群聊 (chat_room.html.haml) */
.room{
  @include page_style;
  .room-title{
    height: 5%;
    h1{
      text-align: center;
    }
  }
  .room-staff{
    width: 100%;
    height: 5%;
    img{
      height: 50px;
      float: right;
    }
  }
  .content { 
    @include display_msg;
    width: 100%;
    height: 80%;
  }
  .type-area{
    width: 100%;
    height: 10%;
    .into { 
      border-radius:5px; 
      border:1px solid #ccc;
      margin-top:5px; 
      padding:10px; 
      width: 76%;
      resize: none;
    }
    .status { 
      display:block; 
      float:left; 
      margin-top: 2.5%; 
      width: 11%;
    }
    .send-msg{
      border-radius: 5px;
      width: 10%;
      float: right;
      margin-top: 5%;
    }
  }
}

/* 注册 (register.html.halm) */
.register{
  @include page_style;
  .register-title{
    width: 100%;
     h1{
      text-align: center;
    }
  }
  .register-submit-part{
    .nickname{
      @include input_style;
    }
    .user-eamil{
      @include input_style;
    }
    .user-pwd{
      @include input_style;
    }
    .confirm-pwd{
      @include input_style;
    }
  }
  .register-footer{
    text-align:center;
    .submit-name{
      width: 200px;
      height: 50px;
      margin-top: 40px;
    }  
  }
}

/* 私聊 (private_room.html.haml) */
.private-room{
  @include page_style;
  .private-title{
    width: 100%;
     h1{
      text-align: center;
    }
  }
  .private-input{
    .from-name{
      @include input_style;
    }
    .to-name{
      @include input_style;
    }
    .message{
      @include input_style;
    }
  }
  .private-send{
    text-align:center;
    .send-message{
      width: 200px;
      height: 50px;
      margin-top: 40px;
    }
  }
  .private-content{
    @include display_msg;
    width: 100%;
    height: 50%;
    span{
      border-radius:5px;
    }
  }
}

/* 讨论组房间  (discussion_group_room.html.haml)*/
.discussion-room{
  @include page_style;
  .discussion-title{
    height: 5%;
    h1{
      text-align: center;
      .current-user {
        color: #55FF6D;
      }
    }
  }
  .discussion-group-name{
    width: 100%;
    height: 2%;
    .group-name-msg{
      float: left;
    }
    .out-group{
      float: right;
    }
  }
  .discussion-content { 
    @include display_msg;
    width: 100%;
    height: 80%;
    margin-top: 15px;
  }
  .send-discussion-msg{
    width: 100%;
    height: 10%;
    input{ 
      border-radius:5px; 
      border:1px solid #ccc;
      margin-top:5px; 
      padding:10px; 
      width: 76%;
      resize: none;
    }
    label { 
      display:block; 
      float:left; 
      margin-top: 2.5%; 
      width: 11%;
    }
    .send{
      border-radius: 5px;
      width: 10%;
      float: right;
      margin-top: 2.5%;
    }
  }
}
/* 创建讨论组界面样式 (add_group.html.haml) */
.add-group {
  .title {
    .current-user {
      color: #55FF6D;
    }
  }
}

/* 修改讨论组界面样式 (edit_group.html.haml) */
.edit-group {
  .title {
    .current-user {
      color: #55FF6D;
    }
  }
  .all-user-list{
    .group-member{
      margin-top: 20px;
    }
  }
  .submit-checked{
    margin-top: 20px;
  }
}

/* 讨论组详情界面样式 (show_detail.html.haml) */
.show-group{
  font-family: Microsoft YaHei;
  .group-detail{
    .group-info {
      color: #1555FF;
    }
  }
}
