<!DOCTYPE html>
<html>
<head>
  <title>ChatRoom</title>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script>
    var socket = io.connect('http://192.168.1.200:8080/');
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
